      
      
      .sub-button {
        background-color: rgb(230, 45, 45);
        color: white;
        border: none;
        padding: 10pt;
        margin-right: 5pt;
        margin-left: 10pt;
        margin-top: 10pt;
        margin-bottom: 10pt;
        border-radius: 3px;
        cursor: pointer;
        transition: opacity 0.15s;
        vertical-align: top;
      }
    
      .sub-button:hover {
        opacity: 0.7;
      }
    
      .sub-button:active {
        opacity: 0.3;
      }
    
      .joi-button {
        background-color: white;
        border-color: rgb(45, 45, 252);
        border-style: solid;
        border-width: 1px;
        color: rgb(0, 0, 255);
        padding: 9pt;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        margin-right: 5pt;
        margin-left: 5pt;
        margin-top: 10pt;
        margin-bottom: 10pt;
        vertical-align: top;
      }
    
      .joi-button:hover {
        background-color: rgb(0, 0, 255);
        color: white;
      }
    
      .joi-button:active {
        opacity: 0.7;
      }
    
      .twe-button {
        background-color: rgb(17, 185, 252);
        color: white;
        border: none;
        border-radius: 40px;
        padding: 10pt;
        padding-left: 15pt;
        padding-right: 15pt;
        cursor: pointer;
        font-weight: 700;
        font-size: 16;
        font-family: sans-serif;
        margin-left: 10pt;
        transition: box-shadow 0.15s;
        margin-right: 10pt;
        margin-left: 5pt;
        margin-top: 10pt;
        margin-bottom: 10pt;
        vertical-align: top;
      }
    
      .twe-button:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
      }